<div class="grid_4">
        <div class="gall_block">
          <div class="maxheight">
            <a class="gall_item"><img src="<% recipe.imageURL %>" alt=""></a>
            <div class="gall_bot">
            <div class="text1"><a href="#"><% recipe.name %></a></div> 
            <br>
            <a href="#" class="btn">more</a></div>
          </div>
        </div>
      </div>